<div class="show">
  <p>
    Networth Total:
  </p>
  <h1>
    $<%= @networth_total %>
  </h1>

  <div class="show_row">
    <div class="show_row_column">
      <p class="show_row_column_title">Month</p>
    </div>
    <div class="show_row_column">
      <p class="show_row_column_title">Account 1 Total</p>
    </div>
    <div class="show_row_column">
      <p class="show_row_column_title">Account 2 Total</p>
    </div>
    <div class="show_row_column">
      <p class="show_row_column_title">Stock</p>
    </div>
    <div class="show_row_column">
      <p class="show_row_column_title">Net Savings</p>
    </div>
    <div class="show_row_column">
      <p class="show_row_column_title">Net Assets</p>
    </div>
  </div>
  <div class="show_row">
    <div class="show_row_column">
      <p class="show_row_column_title">Month</p>
    </div>
    <div class="show_row_column">
      <p class="show_row_column_title">Account 1 Total</p>
    </div>
    <div class="show_row_column">
      <p class="show_row_column_title">Account 2 Total</p>
    </div>
    <div class="show_row_column">
      <p class="show_row_column_title">Stock</p>
    </div>
    <div class="show_row_column">
      <p class="show_row_column_title">Net Savings</p>
    </div>
    <div class="show_row_column">
      <p class="show_row_column_title">Net Assets</p>
    </div>
  </div>
  <div class="show_row">
    <div class="show_row_column">
      <p class="show_row_column_title">Month</p>
    </div>
    <div class="show_row_column">
      <p class="show_row_column_title">Account 1 Total</p>
    </div>
    <div class="show_row_column">
      <p class="show_row_column_title">Account 2 Total</p>
    </div>
    <div class="show_row_column">
      <p class="show_row_column_title">Stock</p>
    </div>
    <div class="show_row_column">
      <p class="show_row_column_title">Net Savings</p>
    </div>
    <div class="show_row_column">
      <p class="show_row_column_title">Net Assets</p>
    </div>
  </div>
</div>
